body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    /* background-color: #f2f2f2; */
    background-image: url("./assets/grass-2616911.jpg"); 
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    height:100vh;
    /* background-color: rgba(0, 0, 200, 0.3); */
    align-items: center;
    /* z-index: -1; */
}

.booking-form {
    max-width: 350px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6); 
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container {
    max-width: 350px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6); 
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

        .booking-form h2 {
            margin-top: 0;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-group input[type="email"],
        .form-group input[type="text"],
        .form-group input[type="number"],
        .form-group input[type="date"],
        .form-group input[type="time"],
        .form-group input[type="password"],
        .form-group select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .form-group select {
            height: 40px;
        }

        .form-group input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: transparent;
            color: black;
            border: 1px solid black;
            border-radius: 5px;
            cursor: pointer;
        }

        .form-group input[type="submit"]:hover {
            background-color: grey;
            color: #fff;
        }